/**********************************************************************
_base.scss
***********************************************************************/

html {
  font-family: $fontPrimary;
}

p {
  line-height: pxToRem(30);
}

.page {
  min-height: calc(100vh - $headerHeight);
  color: $textPrimaryLightColor;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}