/**********************************************************************
_base.scss
***********************************************************************/

html {
    font-family: $fontPrimary;
}

p {
    line-height: pxToRem(30);
}

.page {
    min-height: calc(100vh - $headerHeight);
    color: $textPrimaryLightColor;
}