/**********************************************************************
_color.scss
***********************************************************************/
$primaryColor: #000;
$secondaryColor: #ebff00;
$cookiesAcceptColor: #751342;
$cookiesDeclineColor: #432cd8;

$textPrimaryLightColor: #fff;

$containerMessageColor: #0009;
$pageLayoutColor: #333;