.mobile-drop-down-menu {
    display: flex;
    min-height: 100%;
    background-color: $secondaryColor;
    width: 100%;
    position: fixed;
    padding-top: $headerHeight;
    justify-content: center;
    align-items: center; 
    z-index: 90;

    transform: translateY(-100%);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;

    &[data-mobile-drop-down-active="true"] {
        transform: translateY(0);
    }

    &__list {
        display: grid;
        grid-gap: 40px;
        text-align: center;

        li {
            font-size: pxToRem(50);
            font-family: $fontCreative;

            a {
                text-decoration: none;
                color: $primaryColor;
            }
        }
    }
}